/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* * Navbar* */

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  gap: 0.5rem;
  background: #f6595a;
  font-size: 1.5rem;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
}

/* * Card Component Styling* */
.card {
  display: flex;
  max-width: 80vw;
  height: max-content;
  margin-inline: auto;
  margin-block: 3rem;
  gap: 1rem;
}

.card>img {
  border-radius: 8px;
  max-width: 220px;
  max-height: fit-content;
}

.card--location {
  font-size: 1.3rem;
  font-weight: bold;
}

.card--title {
  font-size: 2.2rem;
  font-family: 'Josefin Sans', sans-serif;
}

.card--date {
  font-size: 1rem;
}

.card--description {
  margin: 10px 0;
}

.map--pin__icon {
  margin: 0 10px;
}